
#name {
    display: flex;
    justify-content: center;
}
#nDec{
    text-decoration: none;
    color: black;
}
#name h1:hover {
    color: coral;
}



.hamburger-container {

    display: flex;
    justify-content: flex-end;
    margin: 0px 50px 0px 50px;
}

#hamburger-img {
    width: 50px;
    height: 50px;
}

#humberger-menu {
    margin-top: -50px;
    position: fixed;
}

.links-container a {
    font-weight: 700;
    text-decoration: none;
    color: rgb(46, 30, 5);
    font-size: 30px;
}

.links-container a:hover {
    color: coral;
}